<!-- included here instead of external sourcing because the javascript_include_tag appends .js on the end of the erb file -->
<!-- find better place to put this that is rendered from controller on the index method-->
<script type="text/javascript">
    
    $(document).ready(function(){
        <% if session[:merged_users] %>
            <% @participants = session[:merged_users] %>

            <% @participants.each do |m| %>
                //gives jQuery something to select based on params id
                userDiv = "#merge-" + <%= m %>;

                //changes the backround color of entire div to light yellow and the box to dark blue
                $(userDiv).parent().parent().css('backgroundColor', "#ffffcc");
                $(userDiv).css('backgroundColor', "#003366")

                //changes the text to unmerge
                $(userDiv).parent().find("p").text('Unmerge');
            
                //sets up the source id based on the eventId above and adds the source
                var source = "/users/" + <%= m %> + "/events";
                $('#calendar').fullCalendar('addEventSource', {
                    url: source,
                    className: 'merged-event ',
                    editable: false
                });
            <% end %>    
        <% end %>

    });// ready method end
</script>

<% if session[:user_id] === nil? %>
    <% redirect_to :controller => 'admin', :action => 'login' %>
<% end %>



<div id="main">
    <div id="sidepanel" style="float: left;">
        <%= render :partial => 'layouts/sidepanel'%>
    </div>

    <div id="buttons">  
    	<div id='new_event'><%= link_to '', new_event_path,  :method => :get, :remote => true, :id => 'new-button' %></div>

        <div id="nav_arrows">
            <div id="left-arrow"><%= image_tag 'left-arrow.png' %></div>
            <div id="right-arrow"><%= image_tag 'right-arrow.png' %></div>
        </div>    

        <div id="view-selectors">
            <%= image_tag 'button_month.png', :id => 'month-button' %>
    	    <%= image_tag 'button_week.png', :id => 'week-button', :class => 'selected' %>
    	    <%= image_tag 'button_day.png', :id => 'day-button' %>
        </div>
    </div>

    <div id='calendar'></div>

</div>



