
<% if session[:user_id] === nil? %>
    <% redirect_to :controller => 'admin', :action => 'login' %>
<% end %>



<div id="main">
    <div id="sidepanel" style="float: left;">
        <%= render :partial => 'layouts/sidepanel'%>
    </div>

    <div id="buttons">  
    	<div id='new_event'><%= link_to '', new_event_path,  :method => :get, :remote => true, :id => 'new-button' %></div>

        <div id="nav_arrows">
            <div id="left-arrow"><%= image_tag 'left-arrow.png' %></div>
            <div id="right-arrow"><%= image_tag 'right-arrow.png' %></div>
        </div>    

        <div id="view-selectors">
            <%= image_tag 'button_month.png', :id => 'month-button' %>
    	    <%= image_tag 'button_week.png', :id => 'week-button', :class => 'selected' %>
    	    <%= image_tag 'button_day.png', :id => 'day-button' %>
        </div>
    </div>

    <div id='calendar'></div>

</div>



