<li class="showuser" id="<%=user.id%>">
    <div class="username">
          <h3><%=link_to user.name %></h3>
    </div>

    <div class="merge-box">
      <p><%= link_to "Merge", "users/#{user.id}/merge_events", :method => 'get', remote: true %></p>
      <div class="merge-icon" id="mergebox<%= user.id %>"   onclick="merge_user(<%= user.id %>)">
        <%= image_tag("merge-icon-left.png", options = {:class => 'merge-icon-left'}) %>
        <%= image_tag('merge-icon-right.png', options = {:class => 'merge-icon-right'}) %>
      </div>	
    </div>
    <div class="fix"></div><!-- prevent sliding -->
</li>
