
<p id="notice"><%= notice %></p>

<p>Accept or Reject<p>
<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Starts at:</b>
  <%= @event.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @event.ends_at %>
</p>

<p>
  <b>All day:</b>
  <%= @event.all_day %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<%= link_to "Accept", accept_request_path(@event.id), :method => 'PUT', :remote => true %> | 
<%= link_to "Reject", reject_request_path(@event.id), :method => 'PUT', :remote => true %>