<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html>
<head>
  <title>Calendar</title>

  <!-- stylesheets for bootstrap -->
  <%= stylesheet_link_tag "/bootstrap/css/bootstrap-stripped.css" %>

  <!-- stylesheets -->
  <%= stylesheet_link_tag "fullcalendar.css" %>
  <%= stylesheet_link_tag "application.css" %>
  <%= stylesheet_link_tag "custom.css" %>
  
  <!-- external javascript -->
  <script src="http://code.jquery.com/jquery-1.8.3.js" type="text/javascript"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js" type="text/javascript"></script>
  <%= javascript_include_tag "jquery.rest.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "events.2.js" %>
  <%= javascript_include_tag "modernizr.js" %>
  <%= javascript_include_tag "jquery-extras.js" %>

  <!-- javascripts for bootstrap -->
  <%= javascript_include_tag "/bootstrap/js/bootstrap.js" %>
  <%= javascript_include_tag "/bootstrap/js/bootstrap.min.js" %>

  <!-- these are needed for the calendar. -->
  <%= javascript_include_tag "jquery-ui-1.8.11.custom.min.js" %>
  <%= javascript_include_tag "fullcalendar.js" %>
  <%= javascript_include_tag "calendar.js" %>
  
  <%= csrf_meta_tag %>  
  
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  
</head>
<!-- beginning of container and body -->


<body>

    <nav id="navbar" >
        <div id="Home" >
        	<%= link_to image_tag('logo3.jpg'), calendar_index_path %>
        </div>

      <div id="notice" ><%= notice %>

      </div>

      <div id="profile">
        <% if session[:user_id] != nil  %>
            
            <% if current_user.fname && current_user.lname %>
              <p> Welcome <%= current_user.fname + " " + current_user.lname %> </p>
            <% else %>
              <p> Welcome <%= current_user.name %></p>
            <% end %>
            </br><p><%= link_to 'Logout', :controller => 'admin', :action => 'logout' %> | <%= link_to "Settings", "/users/#{current_user.id}" %></p>
        <%  else %>
            <p><% link_to 'Back', :controller => 'admin', :action => 'login' %></p>

        <% end %>
          
      </div>

      
    </nav>
<div id="container">

    <%= yield %>

</body> <!--end of body -->
</div>  <!--end of container -->
</html> <!-- end of html -->
